/* .search-bar {
  border: 1px solid #EA7030;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 95%;
  height: 32px;
  font-size: 20px;
  padding: 5px;
  outline: none;
  border: none;
  font-family: inherit; Chrome doesn't do this by default.
} */

/* .submit-btn {
  color: white;
  background: #EA7030;
  border: none;
  cursor: pointer;
} */
