.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loading-anim-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}
.playlist::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 100);
  border-radius: 10px;
  width: 5px;
}
.playlist::-webkit-scrollbar-track {
  display: none;
  border-radius: 10px;
}
.playlist::-webkit-scrollbar-track-piece {
  border-radius: 10px;
}

.player-icon {
  color: black;
  display: block;
  font-size: 25px;
}
