html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: orange;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-icon {
  color: white;
  display: block;
  font-size: 25px;
}

.white-card {
  background-color: white;
  border-radius: 2px;
  padding: 10px;
}

@media only screen and (min-width: 992px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
}
